@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply m-0 font-sans antialiased; /* Tailwind utility for margin 0 and font styling */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  @apply font-mono; /* Tailwind utility for monospaced fonts */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
